<body data-spy="scroll" data-offset="0" data-target="#navbar-main">

<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <p class="jl-logo" style="font-size:30px; color:#3498db;">JL</p>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="#home">
          <p class='jl-logo' style="font-size:18px; color:#3498db;">JL</p>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home" class="smoothScroll">Home</a></li>
          <li> <a href="/login"> Login</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>

<br><br>

<%= image_tag 'jason_motorcycle_360.jpg' %>
<br><br>
<p>Look at YOU! You found my blog!</p>