<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
  <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <title>Jobless Loser</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/icomoon.css">
  <link href="assets/css/animate-custom.css" rel="stylesheet">



  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type='text/css'>

  <script src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">


<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <p class="jl-logo" style="font-size:30px; color:#3498db;">JL</p>
          <%#= image_tag "logos/JL-logo-blue.png" , size: "26"%>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="#home">
          <%#= image_tag "logos/JL-logo-blue.png", size: "18" %>
          <p class='jl-logo' style="font-size:18px; color:#3498db;">JL</p>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#home" class="smoothScroll">Home</a></li>
          <li> <a href="#about" class="smoothScroll"> About</a></li>
          <li> <a href="#services" class="smoothScroll"> Services</a></li>
          <!--<li> <a href="#team" class="smoothScroll"> Team</a></li>-->
          <!--<li> <a href="#portfolio" class="smoothScroll"> Portfolio</a></li>-->
          <li> <a href="#blog" class="smoothScroll"> Blog</a></li>
          <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>



<div id="headerwrap" id="home" name="home">
  <header class="clearfix">
    <h1 class="jl-logo">JL</h1>
    <p>My name is Jason</p>
    <p>and I'm a Jobless Loser.</p>
  </header>
</div>

<div id="footerwrap">
  <div class="container">
    <h4>Created by <a href="http://briansmith.io">Brian Smith</a> - Copyright 2016</h4>
  </div>
</div>


<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/retina.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="assets/js/jquery-func.js"></script>
</body>
</html>
