<body data-spy="scroll" data-offset="0" data-target="#navbar-main">

<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <p class="jl-logo" style="font-size:30px; color:#3498db;">JL</p>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="#home">
          <p class='jl-logo' style="font-size:18px; color:#3498db;">JL</p>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% @tabs.each do |nav_header| %>
              <li><a href="<%= nav_header %>" class="smoothScroll"><%= nav_header[/\w+/].capitalize %></a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div id="headerwrap" id="home" name="home">
  <header class="clearfix">
    <h1 class="jl-logo">JL</h1>
    <p>My name is Jason</p>
    <p>and I'm a Jobless Loser.</p>
  </header>
</div>

<div class="container" id="about" name="about">
  <div class="row white">
    <br>
    <h1 class="centered">A LITTLE ABOUT ME</h1>
    <hr>

    <% @about_text.split("\n").each do |text_section|%>
      <div class="col-lg-6">
        <p><%= text_section %></p>
      </div>
    <% end %>

  </div><!-- row -->
</div><!-- container -->


<div class="container" id="services" name="services">
  <br>
  <div class="row">
    <h2 class="centered">DATA ARCHITECTURE AND NETWORK SECURITY</h2>
    <hr>
    <br>

    <div class="col-lg-offset-2 col-lg-8">
      <% @services_text.split("\n").each do |text_section|%>
        <p><%= text_section %></p>
      <% end %>
    </div><!-- col-lg -->
  </div><!-- row -->
</div><!-- container -->

<div class="container" id="contact" name="contact">
  <div class="row">
    <br>
    <h1 class="centered">CONTACT ME</h1>
    <hr>
    <br>
    <div class="col-lg-4">
      <h3>Contact Information</h3>
      <p>
        <span class="icon icon-home"></span> Some Address 987, NY<br/>
        <span class="icon icon-phone"></span> +34 9884 4893 <br/>
        <span class="icon icon-mobile"></span> +34 59855 9853 <br/>
        <span class="icon icon-envelop"></span> <a href="#"> agency@blacktie.co</a> <br/>
        <span class="icon icon-twitter"></span> <a href="#"> @blacktie_co </a> <br/>
        <span class="icon icon-facebook"></span> <a href="#"> BlackTie Agency </a> <br/>
      </p>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->

